<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'story10.css' %}">
    <!-- Jquery and Ajax -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'appstory10.js' %}"></script>
</head>
<body>

    {% if user.is_authenticated %}
    <div class="container" style="margin-top: 3rem;">
        <h2>Hi there, {{ user.username }}</h2>
        <a href="logout/" class="btn btn-dark" name='kelogout'>Logout</a>
    </div>

    {% else %}

    <div class="container" style="margin-top: 3rem;">
        <h2>You are not logged in, please login or register</h2>
    </div>

    <div class="container" style="margin-top: 1rem;">
        <a href="login/" class="btn btn-dark" name="login">Login</a>
        <a href='register/' class="btn btn-dark" name="register">Register Account</a>
    </div>

    {% endif %}

</body>
</html>