<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'story10.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <div class="container" style="margin-top: 3rem;">
        <h2>You already logged in, please logout first to use another account</h2>
        <a href="../logout" class="btn btn-dark">Logout</a>
    </div>
    {% else %}
    <div class="container d-flex justify-content-center" style="margin-top: 25vh;">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="user">Username :</label>
            <input class="form-control" type="text" placeholder="Username" name="usernamelogin" required id="username"><br>
        </div>

        <div class="form-group">
            <label for="pass">Password :</label>
            <input class="form-control" type="password" placeholder="Password" name="passwordlogin" required id="pass"><br>
        </div>

        <div class="container d-flex justify-content-center">
        <button type="submit" class="btn btn-dark" name="submit">Login</button>
        </div>

    </form>
    </div>

    <br>
    {% if message %}
    <h2>{{ message }}</h2>
    {% endif %}
    {% endif %}
</body>
</html>