<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'story10.css' %}">
</head>
<body>

    {% if message %}
    <div class="container d-flex" style="margin-top: 3rem;">
        <h2>{{ message }}</h2>
    </div>
    {% endif %}

    <div class="container" style="margin-top: 3rem;">
    <form action="" method="POST">
        {% csrf_token %}

        <div class="form-group">
        <label for="user">Username :</label>
        <input class="form-control" type="text" name='username' placeholder="Username" required id="user"><br>
        </div>

        <div class="form-group">
        <label for="fname">First Name :</label>
        <input class="form-control" type="text" name='first_name' placeholder="First Name" required id="fname"><br>
        </div>

        <div class="form-group">
        <label for="lname">Last Name :</label>
        <input class="form-control" type="text" name='last_name' placeholder="Last Name" required id="lname"><br>
        </div>

        <div class="form-group">
        <label for="email">Email address :</label>
        <input class="form-control" type="email" name='email' placeholder="Email" required id="email"><br>
        </div>

        <div class="form-group">
        <label for="password">Password :</label>
        <input class="form-control" type="password" name='password1' placeholder="Password" required id="password"><br>
        <input class="form-control" type="password" name="password2" placeholder="Confirm Password" required id="password"><br>
        </div>


        <input type="submit" class="btn-primary" name="regis">
    </form>
</div>

    <div class="container d-flex" style="margin-bottom: 3rem;">
    <a href="../login/" name="kelogin" class="btn btn-dark">Login</a>
    </div>

</body>
</html>