@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

.accordion_header button{
    left: 30px;
    position: relative;
    background-color: #fff;
    color: #3b5998;
    border: 1px solid#8b9dc3;
}


body {
    background-color: #dfe3ee;
}

.container-fluid {
    background-color: #3b5998; 
    height: 5rem;
}

.container-fluid.darek {
    background-color: #292929; 
    height: 5rem;
}

.darek {
    background-color: #5f5f5f;
}

.wrapperoi {
    width: 700px;
    margin: 80px auto 0;
}

@media only screen and (max-width: 700px) {
    .wrapperoi {
      width: 350px;
    }

    #topper {
        font-size: 20pt;
    }
}

.wrapperoi .accordion_wrap .accordion_header{
    width: 100%;
    height: 50px;
    background: #fff;
    padding: 15px;
    color:#3b5998;
    font-weight: 700;
    border-bottom: 2px solid #3b5998;
    position: relative;
    cursor: pointer;
    transition: all 0.1s ease;
}

.wrapperoi.darek .accordion_wrap .accordion_header{
    width: 100%;
    height: 50px;
    background: rgb(44, 44, 44);
    padding: 15px;
    color:#afafaf;
    font-weight: 700;
    border-bottom: 2px solid #afafaf;
    position: relative;
    cursor: pointer;
    transition: all 0.1s ease;
}

.wrapperoi .accordion_wrap:first-child .accordion_header,
.wrapperoi.darek .accordion_wrap:first-child .accordion_header{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.wrapperoi .accordion_wrap:last-child .accordion_header,
.wrapperoi.darek .accordion_wrap:last-child .accordion_header{
    border-bottom: 2px solid transparent;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.wrapperoi .accordion_wrap:last-child .accordion_header:hover,
.wrapperoi.darek .accordion_wrap:last-child .accordion_header:hover{
    border-bottom: 2px solid transparent;
}

.wrapperoi .accordion_wrap .accordion_header:before,
.wrapperoi .accordion_wrap .accordion_header:after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 20px;
  height: 2px;
  background: #3b5998;
}

.wrapperoi.darek .accordion_wrap .accordion_header:before,
.wrapperoi.darek .accordion_wrap .accordion_header:after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 20px;
  height: 2px;
  background: #d8d8d8;
}

.wrapperoi .accordion_wrap .accordion_header:hover{
    background-color: #3b5998;
    color: #fff;
    border-color: #fff;
    transition: all 0.5s ease;
}

.wrapperoi.darek .accordion_wrap .accordion_header:hover{
    background-color: #3d3d3d;
    color: #fff;
    border-color: #fff;
    transition: all 0.5s ease;
}

.wrapperoi .accordion_wrap .accordion_header:hover:before,
.wrapperoi .accordion_wrap .accordion_header:hover:after{
    background: #fff;
}

.wrapperoi.darek .accordion_wrap .accordion_header:hover:before,
.wrapperoi.dare .accordion_wrap .accordion_header:hover:after{
    background: #fff;
}

.wrapperoi .accordion_wrap .accordion_header:after,
.wrapperoi.darek .accordion_wrap .accordion_header:after{
    transform: rotate(-90deg);
    transition: all 0.5s ease;
}

.wrapperoi .accordion_wrap .accordion_body{
    width: 100%;
    height: 0px;
    transition: all 0.5s ease;
    background: #8b9dc3;
    overflow: hidden;
}

.wrapperoi.darek .accordion_wrap .accordion_body{
    width: 100%;
    height: 0px;
    transition: all 0.5s ease;
    background: #444444;
    overflow: hidden;
}

.wrapperoi .accordion_wrap .accordion_body p{
    padding: 15px;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
}

.wrapperoi.darek .accordion_wrap .accordion_body p{
    padding: 15px;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
}

.wrapperoi .accordion_wrap .accordion_body .collap{
    margin-left: 15px;
    padding: 5px;
    color: #3b5998;
}

.wrapperoi.darek .accordion_wrap .accordion_body .collap{
    margin-left: 15px;
    padding: 5px;
    color: #5f5f5f;
}

.wrapperoi .accordion_wrap .accordion_header.active{
    background-color: #3b5998;
    color: #fff; 
    border-color: #fff;
}

.wrapperoi.darek .accordion_wrap .accordion_header.active{
    background-color: #3b5998;
    color: #fff; 
    border-color: #fff;
}

.wrapperoi .accordion_wrap:last-child .accordion_header.active{
    border-bottom: 2px solid #3b5998;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.wrapperoi.darek .accordion_wrap:last-child .accordion_header.active{
    border-bottom: 2px solid #3b5998;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.wrapperoi .accordion_wrap .accordion_header.active:before,
.wrapperoi .accordion_wrap .accordion_header.active:after{
    background: #fff;
}

.wrapperoi.darek .accordion_wrap .accordion_header.active:before,
.wrapperoi.darek .accordion_wrap .accordion_header.active:after{
    background: #fff;
}

.wrapperoi .accordion_wrap .accordion_header.active:after{
    transform: rotate(0deg);
}

.wrapperoi.darek .accordion_wrap .accordion_header.active:after{
    transform: rotate(0deg);
}

.wrapperoi .accordion_wrap .accordion_header.active + .accordion_body{
    height: 220px;
}

.wrapperoi.darek .accordion_wrap .accordion_header.active + .accordion_body{
    height: 220px;
}