<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Finder</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'story9.css' %}">
    <!-- Jquery and Ajax -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'appstory9.js' %}"></script>
</head>
<body>
    {% csrf_token %}
    <div class="book-header d-flex justify-content-center">
        <h1>Book Finder Story 9</h1>
    </div>
    <div class="book-header d-flex justify-content-center">
        <h4>Based by googlebooks</h4>
    </div>

    <br>
    <br>

    <div class="book-main">
        <div class="container">
            <div class="book-search">
                <h1>Find Your Book</h1>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="input_search" placeholder="Masukkan nama buku" aria-label="Cari" aria-describedby="button_search">
                    <div class="input-group-prepend">
                        <button class="btn btn-dark" type="button" id="button_search">Cari</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="leaderboard d-flex justify-content-center">
            <button type="button" id="leaderboard-btn" class="btn btn-dark" data-toggle="modal" data-target="#LeaderBoard">
                5 Most liked book !
            </button>
        </div>
        <br>
        <br>
        <div class="book-list" id="book-list">
        </div>
        <div class="modal fade" id="LeaderBoard" tabindex="-1" role="dialog" aria-labelledby="LeaderBoardLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="LeaderBoardLabel">Urutan buku</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    </div>

</body>
</html>