<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>js8</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'story8.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'appstory8.js' %}"></script>
</head>
<body>

    <div class="container-fluid">
        <h1 style="color: white; margin-left: 3rem; padding-top: 1rem;" id="topper">Facebook Ala Ala</h1>
    </div>
    
    <div class="wrapperoi">
        <div class="accordion_wrap">
            <div class="accordion_header" id="accordion_header1">
                Info 1
                <button data-sort="up" class="apasi" style="width: 20px;" id="button1up">^</button>
                <button data-sort="down" class="apasi" style="width: 20px;" id="button1down">v</button>
            </div>
            <div class="accordion_body">
                <p>Aktivitas : Ngoding, Eating, Pusing, Sleeping.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Cras faucibus eros eu felis ultricies rhoncus. Vivamus ac turpis mauris. 
                </p>
                <button class="collap" id="collap1">Collapse</button>
            </div>
        </div>

        <div class="accordion_wrap">
            <div class="accordion_header" id="accordion_header2">
                Info 2
                <button data-sort="up" class="apasi" style="width: 20px;" id="button2up">^</button>
                <button data-sort="down" class="apasi" style="width: 20px;" id="button2down">v</button>
            </div>
            <div class="accordion_body">
                <p>Pengalaman : Tidak tidur selama mengerjakan story.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Cras faucibus eros eu felis ultricies rhoncus. Vivamus ac turpis mauris. 
                </p>
                <button class="collap" id="collap2">Collapse</button>
            </div>
        </div>

        <div class="accordion_wrap">
            <div class="accordion_header" id="accordion_header3">
                Info 3
                <button data-sort="up" class="apasi" style="width: 20px;" id="button3up">^</button>
                <button data-sort="down" class="apasi" style="width: 20px;" id="button3down">v</button>
            </div>
            <div class="accordion_body">
                <p>Favourite Place : Visual studio code, gitlab, w3school.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Cras faucibus eros eu felis ultricies rhoncus. Vivamus ac turpis mauris. 
                </p>
                <button class="collap" id="collap3">Collapse</button>
            </div>
        </div>

        <div class="accordion_wrap">
            <div class="accordion_header" id="accordion_header4">
                Info 4
                <button data-sort="up" class="apasi" style="width: 20px;" id="button4up">^</button>
                <button data-sort="down" class="apasi" style="width: 20px;" id="button4down">v</button>
            </div>
            <div class="accordion_body">
                <p>Prestasi : kejar kejaran sama deadline.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Cras faucibus eros eu felis ultricies rhoncus. Vivamus ac turpis mauris. 
                </p>
                <button class="collap" id="collap4">Collapse</button>
            </div>
        </div>
        <br>
        <br>
        <button class="apasihh">Dark / Light</button>
    </div>


</body>
</html>