<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirm status</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: 	#dfe3ee;">

    <div class="container-fluid" style="background-color: #3b5998; height: 5rem;">
        <h1 style="color: white; margin-left: 3rem; padding-top: 1rem;">Facebook Ala Ala</h1>
    </div>

    <br>

    <div style="margin-left: 3rem;">
        <h2>Cek Sebelum Post</h2>

        <h5>Nama : {{ nama }}</h5>
        <h5>Status : {{ status }}</h5>
    </div>

    <div class="row" style="margin-left: 3rem;">
        <form method="POST" action="/"> {% csrf_token %}
            <input type="hidden" name="nama" value="{{ nama }}">
            <input type="hidden" name="status" value="{{ status }}">
            <input method="POST" name="yes" style="margin-top: 2rem;" class="btn btn-success" type="submit" value="Post" >
        </form>

        <form method="GET" action="/">
            <input type="submit" class="btn btn-danger" style="margin-top: 2rem; margin-left: 2rem;" name="no" value="Batal">
        </form>
    </div>

</body>
</html>