{% load crispy_forms_tags %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Story 7</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: 	#dfe3ee;">

    <div class="container-fluid" style="background-color: #3b5998; height: 5rem;">
        <h1 style="color: white; margin-left: 3rem; padding-top: 1rem;">Facebook Ala Ala</h1>
    </div>

    <div class="container justify-content-center" style="margin-top: 20vh; margin-bottom: 10vh;">
        <form method="POST" action="confirmationpage/" validate> {% csrf_token %}
            {{ form|crispy }}
            <input name="submit" style="margin-top: 2rem;" class="btn btn-primary" type="submit" value="Post"/>
        </form>
    </div>

    <h1 style="color: #3b5998; margin-bottom: 4rem;" class="d-flex justify-content-center">Beranda</h1>

    {% for instance in obj %}
        <div class="container justify-content-center">
            <div class="row">
                <div class="col-sm-3">
                    <div class="container">
                        <img class="img-fluid" src="{% static 'depe.jpeg' %}" alt="#" style="width: 75%; margin-bottom: 5rem;">
                    </div>
                </div>
                <div class="col-sm-9">
                    <h2>{{ instance.nama }}</h2>
                    <h5 style="margin-left: 3rem;">{{ instance.status }}</h5>
                </div>
            </div>
        </div>
    {% endfor %}

</body>
</html>